html,
body {
    height: 100%;
    /* Assurez-vous que le html et le body prennent toute la hauteur */
    margin: 0;
    /* Retire la marge par défaut */
    padding: 0;
    /* Retire le remplissage par défaut */
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #2980b9, #6dd5ed);
    overflow: hidden;
    /* Empêche le défilement */
}

h2 {
    color: #ffffff;
    text-align: center;
    /* Centre le titre */
    margin: 20px 0;
    /* Ajoute une marge autour du titre */
    position: fixed;
    /* Fixe le titre en haut */
    width: 100%;
    /* Prend toute la largeur de la fenêtre */
    top: 0;
    /* Positionne le titre en haut */
    z-index: 10;
    /* Assure que le titre est au-dessus des autres éléments */
}

.container {
    display: flex;
    width: 100vw;
    /* Prend toute la largeur de la fenêtre */
    height: 100vh;
    /* Prend toute la hauteur de la fenêtre */
    margin-top: 60px;
    /* Ajoute un espace pour le titre */
}

.button-area {
    position: relative;
    width: 50%;
    /* Chaque section prend 50% de la largeur */
    height: 100%;
    /* Chaque section prend toute la hauteur */
    overflow: hidden;
    border-radius: 10px;
}

.button {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 20px 40px;
    font-size: 1.5em;
    color: #2980b9;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 1;
    /* Garde le bouton au-dessus de l'image */
    margin: 0 auto;
    /* Centre le bouton */
    top: 50%;
    /* Positionne le bouton au centre verticalement */
    transform: translateY(-50%);
    /* Ajuste le décalage pour centrer */
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.background-image {
    width: 100%;
    /* Prend toute la largeur */
    height: 100%;
    /* Prend toute la hauteur */
    object-fit: cover;
    /* Assure que l'image couvre tout le conteneur */
    transition: transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    /* Garde l'image en dessous */
}

.button-area:hover .background-image {
    transform: scale(1.1);
    /* Agrandit l'image au survol */
}