* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

body,
html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 10px;
}

.navbar {
    display: flex;
    padding: 22px 0;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .hamburger-btn {
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar .logo {
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar .logo img {
    width: 80px;
    border-radius: 50%;
}

.navbar .logo h2 {
    color: #fff;
    font-weight: 600;
    font-size: 1.7rem;
}

.navbar .links {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
}

.navbar .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    color: #fff;
    cursor: pointer;
}

.navbar .links a {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s ease;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.button-area {
    flex: 1;
    position: relative;
    overflow: hidden;
    transition: flex 0.5s ease;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-area:hover .background-image {
    transform: scale(1.2);
    opacity: 1;
}

.button-area.stock:hover {
    flex: 3;
}

.button-area.client:hover {
    flex: 3;
}

.button-area:hover .button {
    background-color: rgba(0, 0, 0, 0.8);
}

.button-area.stock {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent);
}

.button-area.client {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.6), transparent);
}