{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}stock| client{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/choice.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
</head>

<body>

    <h2>Choisissez une option</h2>
    <div class="container">
        <div class="button-area add-stock">
            <img src="https://img.freepik.com/photos-gratuite/boite-grand-angle-fleche-rouge_23-2148790075.jpg?t=st=1728385032~exp=1728388632~hmac=2375fd097e90941046fafac9ff70dcaa259c132b7b84205f8cae28c5fa5646a4&w=826" alt="Ajouter au Stock Image"
                class="background-image">
            <button class="button" onclick="window.location.href='{% url 'add_stock_view' %}'">Ajouter au Stock</button>
        </div>

        <div class="button-area view-stock">
            <img src="https://img.freepik.com/photos-premium/logiciel-comptabilite-ecran-ordinateur-montrant-etats-financiers-maniere-homogene_31965-562046.jpg?w=1060" alt="Voir le Stock Image"
                class="background-image">
            <button class="button" onclick="window.location.href='{% url 'view_stock_view' %}'">Voir le Stock</button>
        </div>
    </div>

    <script src="{% static 'js/choice.js' %}"></script>
</body>

</html>
